.matching {
  width: 100%;
  text-align: center;
  margin:auto;
}
.matching h3 {
  font-size: 70px;

  margin: 0px;
}
.matching p {
  font-size: 20px;
  margin: 0px;
}

.profile_img {
  width: 300px;
  height: 300px;
  float:left;
  margin:0;
}
.profile_text {
  width: 50%;
  height: 500px;
  border:1px solid gray;
  float:left;
  margin:0;

}
.profile {
  border: 1px solid;

  overflow: hidden;
}
