.prof-body{
  /* width: 400px; */
  height: 800px;

}

.prof-text{
  position: relative;
  float: left;
  /* width: 50%; */
  width: 640px;
}

.prof-title {
  font-size: 2.4rem;
  margin-top: 0px;
}

dl {
  margin-top: 0;
}

dt {
  display: inline-block;
  margin-bottom: .4em;
  padding: .2em .4em;
  border-radius: 4px;
  background: #ccb86c;
}

dd {
  margin: 0 0 24px;
}

.prof-movie {
  position: relative;
  float: left;
  /* width: 50%; */
  padding-top: 92px;
}
