
.prof-all{
  
}
.prof-body{
  width: 960px;
  margin: 50px auto;
  padding: 25px 0px 0px 120px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba( 0, 0, 0, 0.2 );

  height: 1133px;

}
.prof-icon{
  width: 100px;
  /* margin: auto; */
  margin-top: 30px;
  margin-left: 325px;
  margin-bottom: 140px;
}
.prof-icon h1{
  font-size: 44px;
  width: 320px;
  margin-left: -3px;
}

.prof-text{
  position: relative;
  float: left;
  width: 50%;
  /* width: 640px; */
}

.prof-title {
  font-size: 2.4rem;
  margin-top: 0px;
}

dl {
  margin-top: 0;
}

dt {
  display: inline-block;
  margin-bottom: .4em;
  padding: .2em .4em;
  border-radius: 4px;
  background: #ccb86c;
}

dd {
  margin: 0 0 24px;
}

.prof-movie {
  position: relative;
  float: left;
  /* width: 50%; */
  padding-top: 92px;
}
